/****************************************/
/* waffle brand icon */
/****************************************/
.sidebar.navbar .header-nav .navbar-brand-ct .navbar-brand {
    background: @bg-default none repeat scroll 0% 0%;
    border-bottom: 1px solid #525252;
}
.sidebar.navbar .header-nav .navbar-brand-ct .navbar-brand i { color: #fff; }

/****************************************/
/* Header nav colors */
/****************************************/
.sidebar.navbar .header-nav {
    background: #122 none repeat scroll 0% 0%;
    border-bottom: 1px solid #CDCDCD;
}

/****************************************/
/* board title */
/****************************************/
.dropdown-title { color: #bbb; }
.dropdown-title:hover { color: #fff; }


/****************************************/
/* board background */
/****************************************/
.board .board-body {
    background-color: #283030;
    white-space: nowrap;
    overflow-x: auto;
}

body { color: #fff; }
