/**************************************************/
/* MAIN CODE PAGE */
/**************************************************/

.outline-box-highlighted {
    background-color: @bg-dark; //#F7FAFD;
    border-color: #C9D6E3;
}

.copyable-terminal {
    background-color: @bg-extra-dark; //#F7F7F7;
}

/**************************************************/
/* TEXT DIFF */
/**************************************************/

.pr-toolbar {
    // background: @bg-extra-dark;
    // padding: 0.3em 1em;
    background: none;

    &.is-stuck::after {
        background: @bg-extra-dark;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        box-shadow: 0 1px 2px rgba(0,0,0,0.075);
    }
}
.diffbar {
    background: none;
}

.diffstat {
    color: #ccc;
}

.text-diff-added {
    color: #55F532;
}

.text-diff-deleted {
    color: #FD2C00;
}

.blob-wrapper {
    background-color: @bg-dark;
}

.blob-code-hunk,
.blob-code-expandable {
    background-color: #567;
}

.blob-num {
    color: inherit;
}

.blob-num-hunk,
.blob-num-expandable {
    background-color: #567;
}

.blob-num-expandable .diff-expander {
    color: @link-light;
}

.blob-expanded .blob-num,
.blob-expanded .blob-code {
    background-color: @bg-default;
}

.blob-code-inner {
    color: @link-light;
}

.blob-code-deletion {
    background-color: #9F5C5C;
}

.blob-code-deletion .x {
    background-color: #f66;
}

.blob-num-deletion {
    background-color: #933;
    border-color: #F1C0C0;
}

.blob-code-addition {
    background-color: #3A9F6A;
}

.blob-code-addition .x {
    background-color: #6c6;
}

.blob-num-addition {
    background-color: #3B9F3B;
    border-color: #C1E9C1;
}

.blob-num-addition.selected-line,
.blob-num-deletion.selected-line {
    background-color: #38f;
}

.blob-code-addition.selected-line,
.blob-code-deletion.selected-line {
    background-color: #09f;
}

.file-header,
.discussion-item-review .file-header {
    background-color: @bg-darker;
    border-bottom: 1px solid #D8D8D8;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.file .data.empty {
    color: #ccc;
}

.file .image {
    background-color: @bg-dark;
}

/**************************************************/
/* CODE COLORS */
/**************************************************/

.pl-mb {
    color: #fff;
}

.pl-c {
    color: #6c6;
}

/* comment */
.pl-ent {
    color: #93d38c;
}

/* entity */
.pl-e,
.pl-en {
    color: #c9aDf3;
}

/* entity attribute */
.pl-smi {
    color: #f6a;
}

.pl-k {
    color: #f6c;
}

.pl-c1,
.pl-s .pl-v {
    color: #0df;
}

.pl-pds,
.pl-s,
.pl-s .pl-pse .pl-s1,
.pl-sr,
.pl-sr .pl-cce,
.pl-sr .pl-sra,
.pl-sr .pl-sre {
    color: #88a6f8;
}

/* strings */
.diff-table .pl-c,
.diff-table .pl-ent,
.diff-table .pl-e,
.diff-table .pl-en,
.diff-table .pl-pds,
.diff-table .pl-s,
.diff-table .pl-s .pl-pse .pl-s1,
.diff-table .pl-sr,
.diff-table .pl-sr .pl-cce,
.diff-table .pl-sr .pl-sra,
.diff-table .pl-sr .pl-sre,
.diff-table .pl-k,
.diff-table .pl-smi,
.diff-table .pl-c1,
.diff-table .pl-v {
    color: @link-light;
}

/** CODE SEARCH */
.tree-browser {
    .octicon-file-text {
        color: @text-default;
    }

    tr.navigation-focus td {
        background-color: @bg-medium;

        .octicon-chevron-right {
            color: @link-default;
        }
    }

    td {
        background: @bg-darker;
        border-bottom: 1px solid @border-default;
        padding: 7px 3px;
        color: @text-default;
        vertical-align: middle;
        white-space: nowrap;

        &:first-child {
            border-left: 1px solid @border-default;
        }
        &:last-child {
            border-right: 1px solid @border-default;
        }
    }
}


.tree-browser-result mark {
    background-color: transparent;
    color: @link-light;
}
mark {
    background: #ff0;
    color: #000;
}
