/**************************************************/
/* CONTAINERS */
/**************************************************/

.org-header {
    color: @text-default;
    border-bottom: 1px solid #EEE;
    background-color: @bg-dark;
}

.org-name {
    color: @link-light;
}

.pagehead-tabs-item {
    color: #ccc;
    border: 1px solid #abc;
    border-bottom: transparent;
    margin: 0 5px 0 0;
}

.pagehead-tabs-item:hover {
    color: @link-light;
}

.pagehead-tabs-item.selected {
    color: @text-lightest; //#333;
    background-color: @bg-light;
    border-top: 2px solid @nav-item-selection;
    border-color: @nav-item-selection #abc transparent;
}

.pagehead-tabs-item.selected:hover {
    color: #345;
}

.profilecols .filter-bar {
    background: none;
    border-bottom: 1px solid #DDD;
}

.menu-heading {
    color: @text-light; //#eee;
    background-color: @bg-dark;
    border-bottom: 1px solid #789;
}

.simple-conversation-list,
.authors-and-code {
    background: @bg-dark;
    padding: 0.4em;
    border-radius: 4px;
    border: 1px solid @border-medium;
}

.diffstat-summary,
.diffstat-summary strong {
    color: @text-default;
}

.boxed-group > h3,
.boxed-group .heading {
    background-color: @bg-dark;
}

.boxed-group-inner {
    background: @bg-darker;
    border: 1px solid @border-medium;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #bbb;
}

.boxed-group-inner .help {
    border-top: 1px solid #DDD;
    color: @text-default;
}

.boxed-group-list .access-level {
    color: #ace;
}

.boxed-group-list > li {
    border-bottom: 1px solid @border-default;
}

.boxed-group-list > li:hover {
    background: #567;
}

.simple-box {
    border: 1px solid #234;
    background-color: @bg-darker;
    border-radius: 3px;
}

.setup-info-module {
    background-color: @bg-dark;
    border: 1px solid @border-default;
    border-radius: 3px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.075);
}


.setup-wrapper .oauth-permissions-details,
.oauth-wrapper .setup-wrapper .oauth-permissions-details {
    background-color: @bg-dark;
}

.oauth-permissions-details {
    .permission-title {
        color: @link-light;
    }

    .octicon,
    .mega-octicon {
        color: #ddd;
    }

    .permission-summary .access-details {
        color: #ddd;
    }
}

.member-badge {
    color: @link-default;
    border-top: 1px solid #eee;

    .octicon {
        color: @text-light;
    }
}

.tutorial {
    background-color: @bg-extra-dark-opaque; // #fff;
    border: 1px solid #fff; // rgba(0, 0, 0, 0.15);
    // border-radius: 4px;
    // box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.review-thread-reply {
    background-color: @bg-default; // #fafafa;
    // border-radius: 0 0 3px 3px;
    border-top: 1px solid #e5e5e5;
    // padding: 6px 12px;

    .inline-comment-form {
        background-color: @bg-light; // fff;
    }
}
