/**************************************************/
/* EXPERIMENTAL LAYOUT */
/**************************************************/

.menu {
    background-color: @bg-darker;
    border: 1px solid @border-default;
}

.menu-item {
    text-shadow: none;
    border-bottom: 1px solid @border-default;
}

.menu-item:hover {
    background-color: @link-default; // #0C6600;
    color: @text-lightest; // #fff
}

.menu-item.selected {
    color: @link-light;
    cursor: default;
    background-color: @bg-medium; //#567;
}

.menu-item.selected::before {
    width: 3px;
    background-color: @link-default;
}

.repohead.experiment-repo-nav {
    background-color: #012;
}

.reponav-item {
    color: #bbb;
}

.reponav-item:hover {
    color: @link-light;
}

.reponav-item .octicon {
    color: #bbb;
}

.reponav-item:hover .octicon {
    color: @link-light;
}

.reponav-item .counter {
    background-color: #bbb;
    color: #333;
}

.reponav-item.selected .counter,
.reponav-item:hover .counter {
    background-color: @link-light;
}

.reponav-item.selected {
    color: @link-light;
    background-color: @bg-default;
    border-color: @nav-item-selection @border-light transparent;
}

.reponav-item.selected:hover {
    color: @link-light;
}

.blog-aside .rss {
    color: @link-light;
}

.blog-aside .rss .octicon {
    color: @link-default; /* #FF712C */
}

.blog-title {
    color: @link-light;
}

.blog-post-meta {
    color: #ccc;
}

.blog-post-meta a {
    color: @link-default;
}

.blog-content {
    // width: 735px;
    width: auto;
    display: block;
    margin-right: 230px;

    font-family: "Helvetica Neue", Helvetica, Arial, freesans, sans-serif;
    background: @bg-darker; //#345;
    padding: 2em;
    border-radius: 1em;
    border: 1px solid @border-default;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
}

.blog-post-body {
    color: @link-light;
}

.blog-feedback {
    margin: 50px 0px;
    background-color: @bg-dark;
    border-width: 1px;
    border-style: solid;
    border-color: @border-default;
    border-radius: 3px;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
}

.blog-feedback-header {
    border-bottom: 1px solid @border-default;
    box-shadow: none;
}


.shelf {
    background-color: #324;
    // border-bottom: 1px solid #eee;
    // margin-bottom: 20px;
    // padding-top: 20px;
}

.shelf-dismiss .close-button {
    border: 1px solid #fff;
    color: #fff;
}

.pricing-shelf {
    // background-image: linear-gradient(to bottom, #e5e8e7, rgba(229, 232, 231, 0) 25%);
    background-image: linear-gradient(to bottom, #213, rgba(17, 0, 34, 0) 25%);
}


.next-charge-box {
    background: @bg-extra-dark; //#f9f9f9 none repeat scroll 0 0;
    // border-top: 1px solid #e0e0e0;
}