/**************************************************/
/* Lighten fonts */
/**************************************************/

.text-danger {
    color: #FD6C40;
}

.text-error,
.text-failure {
    color: #FF3C00;
}

.blankslate {
    background-color: @bg-dark;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05) inset;
}

a.member-row {
    color: @link-default;

    &:hover {
        color: @link-default-light;
    }
}

.radio-label {
    color: @text-default; //#333;
}

.news .alert .octicon {
    color: @text-light;
}

.news .alert .mega-octicon {
    color: @text-light;
}

.news .alert .simple .title {
    color: #ddd;
}

.lead {
    color: #ddd;
}

.setup-header {
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.setup-header .lead a {
    color: @link-light;
}

.setup-header .lead a:hover {
    color: @link-default;
}

.gh-header-title {
    color: @link-light;
}

.gh-header-number {
    color: #bbb;
}

.gh-header-meta {
    color: #ddd;
}

.gh-header-meta .author {
    color: @link-light;
}

.filter-item {
    color: #ddd;
}

.filter-item:hover {
    color: #ddd;
    background-color: #3C9614;
}

.filter-item.selected {
    color: @link-light;
    background-color: @link-default;
}

.subhead-description {
    color: #ccc;
}

.note {
    color: #bcd;
}

.form-checkbox .note {
    color: #abc;
}

.reponame-suggestion {
    color: #94c86a;
    cursor: pointer;
}

.owner-reponame .slash {
    color: #bbb;
}

p.explain {
    color: #ccc;
}

.org-header-meta .meta-item .meta-link {
    color: @link-light;
}

.org-header-meta .meta-item .meta-link:hover {
    color: @link-default;
}

.org-module-link {
    color: @link-light;
}

.org-stats {
    color: @link-light;
}

.org-module-link:hover,
.org-module-link:hover .org-stats {
    color: @link-default;
}

.vcard-username {
    color: #ddd;
}

.vcard-detail .octicon {
    color: @text-light;
}

.contrib-number {
    color: #cde;
}

.table-list {
    color: #ccc;
}

.table-list-milestones .stat-label {
    color: #ddd;
}

.table-list-milestones .stat {
    color: #cde;
}

.milestone-title-link a {
    color: @link-light;
}

.milestone-title-link a:hover {
    color: @link-default;
}

.subscriptions-content .sorted-by {
    color: @text-light;
}

.subscriptions-content .repo-icon {
    color: @text-light;
}

.label-description {
    color: #ddd;
}

.labels-list-action {
    color: @text-light;
}

.labels-list-action:hover {
    color: @link-default;
}

.discussion-item .author {
    color: @link-light;
}

.discussion-item-header {
    color: #ddd;
}

.discussion-sidebar-heading {
    color: #ddd;
}

.discussion-sidebar-toggle,
.discussion-sidebar-toggle .octicon {
    color: @link-light;
}

.discussion-sidebar-toggle:hover {
    color: @link-default;
}

.discussion-sidebar-item {
    color: #ddd;
}

.discussion-item-ref-title .title-link {
    color: #ddd;
    text-decoration: underline;
}

.discussion-item-ref-title .title-link:hover {
    color: @link-default;
    text-decoration: underline;
}

.discussion-item-ref-title .title-link:hover .issue-num {
    color: inherit;
}

.discussion-item-ref-title .issue-num {
    color: #ccc;
}

.discussion-item-entity {
    color: @link-default;
}

.discussion-item-entity:hover {
    color: @link-default;
}

.discussion-item .renamed-was,
.discussion-item .renamed-is {
    color: @text-light;
}

.discussion-item-icon {
    background-color: @bg-extra-dark-opaque;
    border: 2px solid #fff;
    color: #fff;
}

.repo-list-description {
    color: #ddd;
}

.repo-list-meta {
    color: @text-light;
}

.repo-list-stats {
    color: #ddd;
}

.markdown-body .highlight pre,
.markdown-body pre {
    background-color: @bg-dark;
    border-radius: 3px;
    border: 1px solid @border-default;
}

.markdown-body blockquote {
    color: #dfd;
    border-left: 4px solid #6c6;
}

.markdown-body code,
.markdown-body tt {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    padding: 2px 3px;
    border: 1px solid @border-default;
    color: @link-light;
}

.markdown-body table tr {
    background-color: @bg-dark;
    border-top: 1px solid @border-default;
}

.markdown-body table tr:nth-child(2n) {
    background-color: @bg-darker;
}

.markdown-body h1 .octicon-link,
.markdown-body h2 .octicon-link,
.markdown-body h3 .octicon-link,
.markdown-body h4 .octicon-link,
.markdown-body h5 .octicon-link,
.markdown-body h6 .octicon-link {
    color: #ff0;
    vertical-align: middle;
    visibility: hidden;
}

.markdown-body img {
    background-color: @link-light;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}

.sidebar-assignee .assignee {
    color: @link-light;
}

.sidebar-assignee .assignee:hover {
    color: @link-default;
}

.milestone-name {
    color: @link-light;
}

.milestone-name:hover {
    color: @link-default;
}

.lock-toggle-link {
    color: @link-light;
}

.lock-toggle-link:hover {
    color: @link-default;
}

.news blockquote {
    color: #ddd;
}

.news div.message,
.news li blockquote {
    color: @text-light;
}

.protip-callout {
    color: #eef;
}

.protip code {
    background-color: @bg-dark;
    padding: 2px 8px;
    border: 1px solid #678
}

.subscribe-feed {
    color: #ddd;
}

.octofication .message {
    background-color: @bg-dark;
    border: 1px solid #9CF674;
}

.octofication .message p {
    color: #ccc;
}

.octofication .broadcast-icon {
    color: @link-default;
}
