/**************************************************/
/* Help articles */
/**************************************************/

div.content-header {
    h6 {
        color: @text-default;

        a {
            color: @link-light; // #4183C4;
        }
    }
}

h2, h3 {
    color: @link-light; // #325D72;
}

.markdown-format {
    h3 {
        color: @link-light; // #325D72;
        border-bottom: 1px solid @border-medium;
    }

    h4 {
        color: @link-light;
    }

    a {
        color: @link-default;
    }

    h1 .octicon-link,
    h2 .octicon-link,
    h3 .octicon-link,
    h4 .octicon-link,
    h5 .octicon-link,
    h6 .octicon-link {
        color: @link-light;
    }

    pre {
        border-width: 1px 1px 2px;
        border-style: solid;
        border-color: @border-default; //#DDD;
        -moz-border-top-colors: none;
        -moz-border-right-colors: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        border-radius: 3px;
        background: @bg-darker;
    }

    code,
    pre {
        color: @text-light;
    }

    .intro {
        color: @text-lightest;
    }
}

.sidebar li.muted,
.sidebar li.muted a {
    color: @text-default;
}

div#common-issues {
    background-color: @bg-dark; // #fafafa;
    border: 1px solid @border-default; //#ddd;
    border-radius: 3px;
    box-shadow: 0 1px 0 #ddd;

    ul {
        background: @bg-darker none repeat scroll 0% 0%;

        li a:hover {
            background-color: @bg-light; //#F2F8FF;
        }
    }
}

ul#categories li h5 a {
    color: @text-lightest; //#666;
}

h1, h1 span, h2, h2 span {
    color: @text-lightest; //#333;
}

/**************************************************/
/* GUIDES */
/**************************************************/

ol.toc > li {
    a {
        &.active {
            color: @link-light;
        }
    }
}

article h2 {
    color: @text-lightest;
}

.markdown-example .source {
    font-size: 16px;
    background: @bg-dark none repeat scroll 0% 0%;
    border-color: -moz-use-text-color -moz-use-text-color #CCC;
    border-radius: 0px;
}
