.table-list-header {
    background-color: @bg-header-dark; // #f6f8fa;
    border: 1px solid @border-dark;
    // border-radius: 3px 3px 0 0;
}
.table-list-header-toggle .btn-link,
.table-list-header-toggle .btn-link.selected
{
    color: @link-light; // #586069;

    &:hover,
    &:focus {
        color: @link-highlight;
    }
}

.Box-row--focus-gray.navigation-focus {
    background: @bg-highlight;
}

.Box-row.Box-row--unread,
.Box-row.unread
{
    // box-shadow: 2px 0 0 #0366d6 inset;
    box-shadow: 4px 0 0 @accent-color inset;
}

.form-control, .form-select {
    color: @text-default; // #24292e;
}


/***** TIMELINE *****/

.discussion-timeline {
    width: 80%;
}
.discussion-sidebar {
    width: 19%;
    background: @bg-dark;
    padding: 0.7em;
    border: 1px solid @border-default;
}

.discussion-item,
.discussion-item + .discussion-item {
    background: @bg-dark;
    border: 1px solid @border-default;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 1em;
}
.discussion-item-header {
    color: @text-default;
}
.discussion-item {
    .renamed-was,
    .renamed-is
    {
        color: @text-default;
    }

    .author,
    .discussion-item-entity
    {
        color: @link-light;

        &:hover, &:focus {
            color: @link-highlight;
        }
    }

    .discussion-item-body {
        margin-left: -8px;
    }
}
.discussion-item-icon {
    background-color: @bg-dark-opaque;
    border: 2px solid #fff;
    color: @text-light; // #586069;
    // border-radius: 50%;
}
.commit-icon {
    color: @text-light; //#d1d5da;

    .octicon {
        background: none;
    }
}

.timeline-comment-header,
.timeline-comment.current-user .timeline-comment-header,
{
    color: @text-default; // #586069;
    background-color: @bg-extra-dark; // #f6f8fa;
    border-bottom: 1px solid #d1d5da;
    // border-top-left-radius: 3px;
    // border-top-right-radius: 3px;

    .author {
        color: @link-light; // #586069;
    }
}

.timeline-comment {
    background-color: @bg-dark; // #fff;
    border: 1px solid @border-default; // #d1d5da;
    // border-radius: 3px;

    &.current-user {
        border-color: @border-highlight; //#c0d3eb;
        box-shadow: 0 0 10px @border-highlight;
    }
}

.new-discussion-timeline .previewable-comment-form .comment-form-head.tabnav {
    background: @bg-extra-dark; // #f6f8fa;
}

/* TIMELINE COMMIT MESSAGE LINKS */
.timeline-commits .commit-message>code a,
.commit-id
{
    color: @link-light;
    &.issue-link { color: @link-default; }
    &:hover, &:focus {
        color: @link-highlight;
    }
}
.timeline-commits .commit-desc pre {
    color: @text-light; // #586069;
}

.tabnav-tab {
    color: @text-default; // #586069;

    &:hover, &:focus {
        color: @text-light; // #24292e;
    }

    &.selected {
        color: @text-light; // #24292e;
        background-color: @bg-highlight; // #fff;
        border-color: #d1d5da;
        // border-radius: 3px 3px 0 0;
    }
}
.input-contrast {
    // background-color: #fafbfc;
    background-color: @bg-dark; // #fafbfc;

    &:focus {
        background-color: @bg-extra-dark;
    }
}
.drag-and-drop {
    color: @text-default; // #586069;
    background: none; // #fafbfc;
}

.new-discussion-timeline .closed-banner {
    background: none; // #e6ebf1;
    border-bottom: 15px solid transparent; // #fff
}