.orghead {
    background-color: @bg-extra-dark; // #fafafa;
    // border-bottom: 1px solid #eee;
    color: @text-default; // #666;
}

.org-link {
    color: @text-default; //#333;

    &:hover {
        color: @link-default; //#4078c0;
    }
}

.member-username {
    color: @text-light; //#333;
}

.member-list-item .member-link:hover .member-username {
    color: @link-default; //#4078c0;
}

.member-info .member-fullname {
    color: @text-default; //#767676;
}

.team-grid {
    .team {
        // border: 1px solid #eee;
        background: @bg-dark;
    }
    .team-name {
        color: @text-lightest;
    }

    .team-members {
        background-color: @bg-default; // #f8f8f8;
    }
}
