/**************************************************/
/* Releases/Tags */
/**************************************************/

.tag-references>li a {
    color: @link-light;
    text-decoration: none;
}

.release-authorship {
    color: @text-default;

    a {
        color: @link-light;
    }
}
