/**************************************************/
/* MAIN REPO */
/**************************************************/

.new-repo-container {
    background: @bg-dark;
    border: 1px solid @border-dark;
    border-radius: 4px;
    padding: 1em;
    margin-bottom: 2em;
}

.owner-select-target {
    background-color: @bg-extra-dark; // #f2f2f2;
    color: @text-light;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.RecentBranches {
    background-color: @bg-extra-dark; // #fff9ea;
    border: 1px solid @border-highlight; // #dfd8c2;

    &-item {
        color: @text-default; // #a19e7f;

        &-link {
            color: @link-light; // #6b694f;
        }
    }

    .octicon {
        color: @link-light;
    }
}

.user-mention,
.team-mention {
    color: @link-light;
}

.dropdown-menu {
    background: @bg-extra-dark-opaque;
    border: 1px solid @border-default;
}

.branch-infobar {
    color: #ccc;
    background-color: @bg-extra-dark;
    border-style: solid;
    border-color: #DDD;
}

.commit-tease {
    color: #aaa;
    background-color: @bg-extra-dark;
    border: 1px solid #C1DCE9;
    border-radius: 5px 5px 0 0;
}

.commit-tease-sha {
    color: @link-default;
}

.commit-tease a.message {
    color: @link-default;
}

.commit-sha {
    background: #345;
    border: 1px solid @border-default;
    border-radius: 0.2em;
}

.commit-tease-contributors {
    background-color: #678;
    border-top: 1px solid #C1DCE9;
}

.commit-tease-contributors a.muted-link {
    color: @link-light;
}

.commit-tease-contributors a.muted-link:hover {
    color: @link-default;
}

.numbers-summary .octicon {
    color: @text-light;
}

.numbers-summary a:hover {
    color: @link-default;
}

.numbers-summary a,
.numbers-summary .nolink {
    color: #ddd;
}

.repo-list-stats .repo-list-stat-item {
    color: @link-light;
}

.repo-list-stats .repo-list-stat-item:hover {
    color: @link-default;
}

.repository-lang-stats ol.repository-lang-stats-numbers li .lang {
    color: @text-light;
}

.repository-lang-stats ol.repository-lang-stats-numbers li > a,
.repository-lang-stats ol.repository-lang-stats-numbers li > span {
    color: #ccc;
}

table.files {
    background: @bg-darker;
    border-radius: 2px;

    tr.navigation-focus td {
        background: @bg-medium;
    }

    td.icon {
        color: @text-light;
    }

    td.icon .octicon-file-directory {
        color: #cde;
    }

    td.message a:hover {
        color: @link-default;
    }

    td.message a {
        color: @text-light;
    }

    td .simplified-path {
        color: #ccc;
    }

    td.age {
        color: #ccc;
    }
}


.readme .markdown-body,
.readme .plain {
    background-color: @bg-medium; //#567;
    border: 1px solid #DDD;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 30px;
    word-wrap: break-word;
}

.breadcrumb strong.final-path {
    color: #eee;
}

.discussion-item.discussion-commits {
    background: @bg-default;
    // padding: 1em 4em;
    // margin: 0 0 0 4em;
    border: 1px solid @border-dark;
    border-radius: 8px;
}

.discussion-item,
.discussion-item + .discussion-item {
    background: @bg-extra-dark;
    border: 1px solid @border-dark;
    border-radius: 4px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 1em;
}

.discussion-item-changes-marker {
    margin-bottom: 15px;
}
