/**************************************************/
/* TIMELINE */
/**************************************************/

.timeline-commits {
    .commit-message a {
        color: @text-light;
        text-decoration: underline;

        &:hover {
            color: @link-default;
        }
    }

    .author {
        color: #FFFFFF;
    }

    .hidden-text-expander a {
        background-color: @bg-light;

        &:hover {
            color: @link-light;
            background-color: @link-default;
        }
    }
}

.commit-desc pre {
    color: #b9c0c3;
}

.commit-group-title {
    color: @text-light;
}

.commit-group.table-list {
    background-color: @bg-darker;
}

.commit {
    .commit-title,
    .commit-title a {
        color: #cdd;
    }

    .commit-title .issue-link {
        color: @link-default;
    }
}

.commits-comments-link {
    color: @link-light;

    &:hover {
        color: @link-default;
    }
}


.hidden-text-expander a {
    background-color: @bg-light;

    &:hover {
        background-color: @link-default;
    }
}


.commits-list-item {
    &.navigation-focus {
        background: #567;
    }

    .commit-meta {
        color: #ddd;
    }

    .commit-author {
        color: @link-default;
    }

    .commit-desc pre {
        color: #bcc;
        border-left: 1px solid @link-default;
    }
}

.commit-link {
    color: @link-default;
}

.commit-id {
    color: @text-light;

    &:hover {
        color: @link-default;
    }
}

.commit-group-title .octicon-git-commit {
    color: @link-light;
    background: none;
}

.timeline-comment-wrapper {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.timeline-comment-header {
    color: #ddd;
    background-color: @bg-darker;
    border-bottom: 1px solid @border-default;
    border-radius: 6px 6px 0 0;

    .author {
        color: @link-default;
    }
}

.timeline-comment {
    background-color: #567;
    border: 1px solid #678;
    border-radius: 7px;
    box-shadow: 0 0 4px #444;

    &.current-user {
        border-color: #BFCCD1;
        box-shadow: 0 0 4px #8f0;

        .timeline-comment-header {
            background-color: @bg-default;
            border-bottom-color: #DDE4E6;
        }

        .previewable-comment-form .comment-form-head.tabnav {
            // color: #8E9597;
            background-color: @bg-default;
            border-bottom-color: @border-default;
        }
    }
}

.timeline-comment-header-text code a {
    color: #aaa;
}


.timeline-comment-avatar {
    border-radius: 24px;
}

.timeline-comment-wrapper > .timeline-comment::after,
.timeline-comment-wrapper > .timeline-comment::before,
.timeline-new-comment .timeline-comment::after,
.timeline-new-comment .timeline-comment::before {
    left: inherit;
}

.branch-action-body::after, .branch-action-body::before {
    left: inherit;
}

.timeline-comment-wrapper > .timeline-comment::before,
.timeline-new-comment .timeline-comment::before {
    border-right-color: #89a;
    border-width: 8px;
}

.timeline-comment-wrapper > .timeline-comment::after,
.timeline-new-comment .timeline-comment::after {
    border-width: 7px;
    border-right-color: #345;
    margin-top: 1px;
    margin-left: 2px;
}

.timeline-comment-wrapper > .timeline-comment.current-user::before,
.timeline-new-comment .timeline-comment.current-user::before {
    border-right-color: @text-light;
}

.timeline-comment-wrapper > .timeline-comment.current-user::after,
.timeline-new-comment .timeline-comment.current-user::after {
    border-right-color: #456;
}

.new-discussion-timeline .previewable-comment-form .comment-form-head.tabnav {
    background: #345 none repeat scroll 0% 0%;
    padding: 6px 10px 0px;
    border-radius: 6px 6px 0px 0px;
}

.timeline-comment-action {
    color: @link-light;
    opacity: 0.8;

    &:hover {
        color: @link-default;
    }
}

.btn-link.timeline-comment-action.delete-button {
    color: #F00;
}

