
.billing-section {
    .section-label {
        color: @text-default; // #767676;
    }
    .section-content {
        color: @text-light; // #333;
    }
}

.lfs-data-icon,
.lfs-data-icon.dark,
.lfs-data-icon.dark path {
    fill: @text-lightest;
    color: @text-lightest;
}


/* USER SESSIONS */
.boxed-group-list > li {
    border-bottom: 1px solid #e5e5e5;
    display: block;
    line-height: 23px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 5px 10px;
}

li.session-device {
    color: @text-light; // #767676;
    background-color: @bg-default; // #fafafa;
    // color: #767676;

    &.session-current {
        background-color: @bg-medium; // #fff;

        .octicon {
            color: @button-default; // @text-lightest; // #767676;
        }
        .session-last-accessed {
            color: @button-default; // #767676;
        }
    }
}

a.mute,
a.text-gray-dark,
.application-authorizations .oauth-app-access-name
{
    color: @link-default !important; // #333 !important;
}

.listgroup {
    background: @bg-dark;
}

.security-history {
    .security-history-timestamp {
        color: @text-light; // #767676;
    }
}

.access-token .token-description {
    color: @text-lightest; // #333;
}

.outline-box-group {
    background: @bg-default;
    // border-radius: 3px;
}

.boxed-group-list > li {
    // border-bottom: 1px solid #789;
}

.boxed-group-list > li:first-child {
    // border-top: 1px solid #ddd;
}


.saved-reply-form {
    background: @bg-default;
    // border: 1px solid #ddd;
    // border-radius: 3px;
}


.dashboard-notice {
    background-color: @bg-dark; // #fafafa;
    // border: 1px solid #d8d8d8;
}

.activity-listing {
    background-color: @bg-darker;
    border-radius: 4px;
    border: 1px solid @border-light;
    padding: 1em;
}

.conversation-list-heading {
    .inner {
        background: @bg-dark-opaque;
        padding: 0 0.5em;
        border: 1px solid @border-medium;
        border-radius: 4px;
        top: -12px;
    }
}

.profilecols > .column.one-fourth {
    padding: 1em;
    background: @bg-dark;
    border: 1px solid @border-default;
    border-radius: 0.4em;
    box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.5);
    // box-sizing: border-box;
    width: 24%;
    margin-right: 1%;
}

.pinned-repo-item {
    background-color: @bg-dark;
}

.vcard-names-container,
.vcard-details {
    background-color: @bg-dark;
    border: 1px solid @border-medium;
    border-radius: 4px;
    padding-left: 10px;
}
.vcard-names-container {
    margin-top: 10px;
}

.vcard-details {
    &.border-top {
        border-top: none;
    }

    &.border-gray-light {
        border-color: @border-medium !important;
    }
}

.user-profile-sticky-bar::after {
    background-color: @bg-dark-opaque;
}

.user-profile-nav {
    // background: none;
    background: @bg-dark-opaque;
    .underline-nav-item {
        color: @text-light;
    }
}

.user-profile-bio {
    color: @text-default;
    background-color: @bg-darker;
    border: 1px solid @border-default;
    border-radius: 4px;
    margin-top: 8px;
    padding-left: 10px;
}

.underline-nav-item.selected {
    border-bottom-color: @nav-item-selection; // #c9510c;
}

.js-repo-list,
.js-repo-filter {
    .border-bottom {
        border: none !important;
    }
    .border-gray-light {
        background: @bg-dark;
        border: 1px solid @border-light !important;
        margin-bottom: 10px;
        border-radius: 4px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .link-gray-dark {
        color: @link-default !important;
    }
}

.profile-timeline-year-list.bg-white {
    background: none !important;
}

.profile-timeline-card.bg-white {
    background: @bg-dark;
}

// .profile-timeline.discussion-timeline .profile-timeline-month-heading::after,
.profile-timeline-month-heading.bg-white
{
    background-color: @bg-dark !important;
    border: 1px solid @border-dark;
    border-radius: 4px;
    padding-left: 4px;
}

.profile-timeline-card-wrapper {
    border-bottom: none; // 2px solid #fff;
    border-top: none; // 2px solid #fff;
}

.js-contribution-graph .border-gray-dark {
    background-color: @bg-darker;
    // border: 1px solid @border-default;
    // border-radius: 4px;
}